<h1><%= name %> reserva</h1>

<%= form_for(@reservation) do |f| %>
<div class="form-group">
  <% @reservation.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <%= message%>
    </div>
  <%end%>
  <label for="article_title">Fecha:</label>
   <%= f.date_field :date, class: 'form-control' %>
 </div>
 <div class="form-group">
  <label for="article_body">Hora</label>
   <%= f.number_field :hour, class: 'form-control' %>
 </div>
 <div class="form-group">
  <label for="article_body">Seña</label>
   <%= f.number_field :prepaid, class: 'form-control' %>
 </div>
 <%= f.submit name , class: 'btn btn-primary' %>
 <%= link_to "Cancelar", reservations_path, class: 'btn btn-primary' %>
<%end%>
