<h1>Todas las reservas</h1>

<%= link_to "Crear Reserva", new_reservation_path, class: 'btn btn-success' %>

<table class="table">
  <thead>
    <tr>
      <th>Nro de Reserva</th>
      <th>Seña</th>
      <th>Dia</th>
      <th>Horario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
  <tr>
    <th><%= reservation.id %></th>
    <td>$<%= reservation.prepaid %></td>
    <td><%= reservation.date.strftime("%d/%m/%Y") %></td>
    <td><%= reservation.hour %>hs</td>
    <td class="action_buttons">
      <%= link_to "Editar", edit_reservation_path(reservation), class: 'btn btn-primary margin_action_buttons' %>
      <%= button_to "Eliminar", reservation, class: 'btn btn-danger margin_action_buttons', data: {confirm: "Está seguro que desea eliminar esta reserva?"} %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
