<h1>Todas las reservas</h1>

<%= link_to "Crear Reserva", new_reservation_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Nro de Reserva</th>
      <th>Seña</th>
      <th>Dia</th>
      <th>Horario</th>
    </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
  <tr>
    <th><%= reservation.id %></th>
    <td>$<%= reservation.prepaid %></td>
    <td><%= reservation.date.strftime("%d/%m/%Y") %></td>
    <td><%= reservation.hour %>hs</td>
    <td><%= button_to "Eliminar", reservation, class: 'btn btn-primary', method: :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>
